<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy History</title>
    <link rel="stylesheet" href="/css/buy.css">
</head>
<body>
    <h1>Buy History</h1>
    <hr>

    <div class="container">
        <table id="buy-history-table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Postal Code</th>
                    <th>Address</th>
                    <th>Payment Method</th>
                </tr>
            </thead>
            <tbody>
                <% orders.forEach(order => { %>
                    <% order.items.forEach(item => { %>
                        <tr>
                            <td><%= order._id %></td>       
                            <td><%= order.createdAt.toDateString() %></td>
                            <td><%= order.postalcode %></td> <!-- Assuming postalCode is a field in the order -->
                            <td><%= order.address %></td> <!-- Assuming address is a field in the order -->
                            <td><%= order.paymentMethod %></td> <!-- Assuming paymentMethod is a field in the order -->
                        </tr>
                    <% }); %>
                <% }); %>
            </tbody>
        </table>
    </div>
    <button onclick="window.history.back()" id="back" type="button">Back</button>
</body>
</html>
