<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/stylesss.css">
    <title>Products</title>
</head>
<body>
    <%- include('partials/nav') %>


    
    <div class="banner">
        <div class="banner-content">
            <h1>NEW COLLECTION!</h1>
            <p>Checkout our new collection now.</p>
            <a href="#" class="shop-button" title="Checkout new collection">Shop Now</a>
        </div>
    </div>

    <hr>

    <div class="containerr">
        <% products.forEach(product => { %>
            <div class="card">
                <div class="image-container">
                    <img src="<%= product.image %>" alt="<%= product.name %>">
                </div>
                <h1><%= product.name %></h1>
                <p class="price">$<%= product.price %></p>
                <p><%= product.description %></p>
                <p><button onclick="location.href='/cart/add/<%= product.id %>'">Buy Now</button></p>
            </div>
        <% }); %>
    </div>

    <br><br>

    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
     </div>

     <%- include('partials/footer') %>

</body>
</html>
