<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home Page</title>
</head>
<body>
  
<<<<<<< HEAD
    <%- include('partials/nav') %>


=======
<header>
  <div class="topnav">
    <div class="left-section">
      <a class="active"    href="/homepage">   <i class="fa-solid fa-house" style="color:#ffffff;"></i>  Home </i></a>
      <a href="/login"><i class="fa-solid fa-user" style="color: #ffffff;"></i>  Login</a>
      <a href="/feedback"><i class="fa-solid fa-phone" style="color: #ffffff;"></i>  Contact</a>
      <a href="/cartt"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>  Cart</a>
      <button id="darkModeToggle" style="
      background-color: #333; /* Dark background color for the button */
      border: 1px solid #ccc; /* Optional: Border around the button */
      border-radius: 5px; /* Rounded corners */
      padding: 10px; /* Space around the image */
      cursor: pointer; /* Change cursor to pointer on hover */
      display: inline-flex; /* Align items inside the button */
      align-items: center; /* Center the image vertically */
      justify-content: center; /* Center the image horizontally */
      outline: none; /* Remove default button outline */
    ">
      <img id="icon" src="/Pictures/sun_120349 (1).png" alt="Dark Mode Toggle" style="
        display: block; /* Remove extra space below the image */
        width: 24px; /* Set image size if needed */
        height: 24px; /* Set image size if needed */
      ">
    </button>
    
    </div>
    <span style="color: white;"><i class="fa-solid fa-location-dot" style="color: #c57f50;"></i> Deliver to <strong>Egypt</strong></span>
    
  </div>
</header>
>>>>>>> 17d19c18ca92c952f3aee82d700bb58298eef227

<div class="banner">
    <div class="banner-content">
        <h1>NEW COLLECTION!</h1>
        <p>Checkout our new collection now.</p>
        <a href="/featured-items" class="shop-button" title="Checkout new collection">Shop Now</a>
    </div>
</div>

<hr>

<!-- Inside homepage.ejs -->
<div class="containerr">
  <% products.forEach(product => { %>
      <div class="card">
          <div class="image-container">
              <img src="<%= product.image %>" alt="<%= product.name %>">
          </div>
          <h1><%= product.name %></h1>
          <p class="price">$<%= product.price %></p>
          <p><%= product.description %></p>
          <p>Left in stock: <%= product.stock %></p>
          <p><a href="/preview/<%= product._id %>"><button>Buy Now</button></a></p>
      </div>
  <% }); %>
</div>


 <%- include('partials/footer') %>

 
<script src="/JavaScript/admin.js"></script>

</body>
</html>
