<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/managepro.css">
    <title>Home Page</title>
</head>
<body>
    <%- include('admin') %> 
    <button id="Back" onclick="window.history.back()">Back</button>
    <button id="AddProduct">Add Product</button>
    <table>
        <thead>
            <tr>
                <th>Product Image</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(product => { %>
                <tr data-id="<%= product._id %>">
                    <td><img src="<%= product.image %>" alt="<%= product.name %>" style="width: 100px; height: auto;"></td>
                    <td><%= product.name %></td>
                    <td>$<%= product.price %></td>
                    <td><%= product.quantity %></td>
                    <td><%= product.description %></td>
                    <td class="actions">
                        <button class="edit" >Edit</button>
                        <button class="delete">Delete</button>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <div id="modal" class="modal">
        <div class="modal-content">
            <span id="modalCloseButton" class="close">&times;</span>
            <h2 id="modalTitle">Add Product</h2>
            <form id="modalForm"></form>
            <button type="button" id="modalSaveButton">Save</button>
            <button type="button" id="modalCancelButton">Cancel</button>
        </div>
    </div>
    <script src="/JavaScript/ManageProducts.js"></script>
</body>
</html>
