<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/manageord.css">
    <title>Problem Management</title>
</head>
<body>
    <%- include('admin') %> 
    <button id="Back" onclick="window.history.back()">Back</button>

 

    <table>
        <tr>
            <th>Problem ID</th>
            <th>Description</th>
            <th>Submitted At</th>
            <th>Status</th>
        </tr>

        <% problems.forEach(problem => { %>
        <tr>
            <td><%= problem._id %></td>
            <td><%= problem.problem %></td>
            <td><%= problem.submittedAt.toLocaleDateString() %></td>
            <td><%= problem.status.charAt(0).toUpperCase() + problem.status.slice(1) %></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>
